<div class="container" style="border-top: 2px solid;">
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="updatefamilyForm" style="margin: 129px auto; width:60%">
        
  
          <div class="form-group">
            <label for="exampleInputPassword1">family Name</label>
            <input type="text" class="form-control" id="exampleInputPassword1" formControlName="familyName"
              placeholder="family Name">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">family Descrition</label>
            <input type="text" class="form-control" id="exampleInputPassword1" formControlName="familyDescription"
              placeholder="family Descrition">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Image</label>
            <input type="file" (change)="onchangefile($event)" class="form-control" id="exampleInputPassword1"
              formControlName="Image">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">family Price</label>
            <input type="text" class="form-control" id="exampleInputPassword1" formControlName="familyPrice"
              placeholder="family Itinerary">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">family Itinerary</label>
           
              <ck-editor name="editor1" [(ngModel)]="editorValue1" skin="moono-lisa" language="en" [fullPage]="true"
                formControlName="familyItinerary"></ck-editor>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">family Includes</label>
  
              <ck-editor name="editor" [(ngModel)]="editorValue" skin="moono-lisa" language="en" [fullPage]="true"
                formControlName="familyIncludes"></ck-editor>
          </div>
          <button type="submit" (click)="updateData()" class="btn btn-primary">Submit</button>&nbsp;
          <a routerLink="/admin/family"><button  class="btn btn-primary">List</button></a>&nbsp;
  
        </form>
      </div>
    </div>
  </div>
  
