<div class="container" style="border-top: 2px solid;">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="carForm" style="margin: 129px auto; width:60%">
      

        <div class="form-group">
          <label for="exampleInputPassword1">car Name</label>
          <input type="text" class="form-control" id="exampleInputPassword1" formControlName="carName"
            placeholder="car Name">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">car Descrition</label>
          <input type="text" class="form-control" id="exampleInputPassword1" formControlName="carDescription"
            placeholder="car Descrition">
        </div>
        <div class="form-group">
          <label for="Image">Image</label>
          <input type="file" (change)="onchangefile($event)" class="form-control" id="exampleInputPassword1"
            formControlName="Image">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">car Price</label>
          <input type="text" class="form-control" id="exampleInputPassword1" formControlName="carPrice"
            placeholder="car Itinerary">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">car Itinerary</label>
         
            <ck-editor name="editor1" [(ngModel)]="editorValue1" skin="moono-lisa" language="en" [fullPage]="true"
              formControlName="carItinerary"></ck-editor>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">car Includes</label>

            <ck-editor name="editor1" [(ngModel)]="editorValue" skin="moono-lisa" language="en" [fullPage]="true"
              formControlName="carIncludes"></ck-editor>
        </div>
        <button type="submit" (click)="insertData()" class="btn btn-primary">Submit</button>&nbsp;
        <a routerLink="/admin/car"><button class="btn btn-primary">List</button></a>

      </form>
    </div>
  </div>
</div>

